/* Css variables starts */

:root {
  --font: "Poppins", sans-serif;
  --color1: #0a0030;
  --color2: #faf9ff;
  --color3: #4723d9;
  --iconclr: #9fa4a6;
  --color-white_O: rgba(255, 255, 255, 0.812);
  --bg02: linear-gradient(190deg, #6e4ed2, #351d8f);
  --color-light-blue: #d3c7f7;
  --color-white: #ffffff;
  --color-black: #070707;
  --color-gray: #626369;
  --bg01: #ecf0f3;
  --orange: #f4bd35;
  --bgBlack-less-opacity: #3f151557;
  --efbg: #f0f8ff;
  --green: #22c03c;
  --red02: #ee335e;
  --red03: #c3ac75;
  --bg04: #dae1e7;

  /**===== shodaw ======**/
  --bxSd01: 10px 10px 20px #cbced1, -10px -10px 20px var(--color-white);
  --bxSd02: inset 5px 5px 8px #cbced1, inset -5px -5px 8px var(--color-white);

  --bxSd03: 4px 4px 8px rgb(189 200 213), -4px -4px 8px rgb(255 255 255);
  --bxSd04: 0px 6px 5px 0px rgb(0 0 0 / 10%);
}
/* Css variables ends */
/* ========================
    .todo-list-three-page
===========================*/
.todo_list_three_page .col-xl-6:nth-child(1) .todo_products {
  height: 225px !important;
}
.todo_list_three_page .col-xl-6:nth-child(1) .todo_products .todo_product {
  background: var(--color-white);
}
.todo_img_two img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100px;
}
.todo_list_three_page_tgle .popup_form {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding-top: 0;
}
#todo_checkbox {
  width: auto;
  box-shadow: 0px 0px 0px 0px;
  cursor: pointer;
  transform: translateY(-5px);
}
.todo_list_three_page_tgle .Todo-main-cnt {
  height: 550px;
}
.todo_list_three_page_tgle .form_box {
  margin-bottom: 10px;
}
.popup_form_btn_one button {
  float: right;
}
.popup_form_btn_one {
  padding-bottom: 45px;
  display: none;
}
@media only screen and (max-width: 830px) {
  .todo_list_three_page_tgle .popup_form {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    padding: 30px 0px;
  }
  .todo_list_three_page_tgle .Todo-main-cnt {
    overflow-y: scroll;
  }
  .popup_form_btn_box.popup_form_btn_two {
    display: none;
  }
  .popup_form_btn_one {
    display: block;
  }
}
/* scroll bar of catagories-box */
.todo_list_three_page_tgle .Todo-main-cnt::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.todo_list_three_page_tgle .Todo-main-cnt::-webkit-scrollbar-track {
  background: transparent;
}

.todo_list_three_page_tgle .Todo-main-cnt::-webkit-scrollbar-thumb {
  background: var(--orange);
  border-radius: 5px;
}

.todo_list_three_page_tgle .Todo-main-cnt::-webkit-scrollbar-thumb:hover {
  background: var(--bg01);
}
